<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Evenements</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Acceuil</a></li>
                <li class="d-inline-block position-relative">Evenements</li>
            </ul>
        </div>
    </div>
</div>

<!-- Events -->
<div class="events-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of eventList;">
                <div class="single-event-box">
                    <img [src]="item.image" alt="{{item.title}}">
                    <div class="content">
                        <ul class="info ps-0 list-unstyled">
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-calendar"></i>
                                {{ item.start_date | date: 'dd/MM/yyyy' }}
                            </li>
                            <li class="d-inline-block position-relative">
                                <i class="flaticon-pin"></i>
                                {{item.adress}}
                            </li>
                        </ul>
                        <h3><a [routerLink]="['/events-detail', item.id, item.title]">{{item.title | slice:0:50}}</a></h3> 
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>