<div class="hero-area position-relative z-1" style="background: url(../../../../assets/images/banner/banner-bg.jpg);">
    <div class="container-fluid">
        <div class="hero-content position-relative z-1 text-center">
            <span class="sub-title">Associations Sans But Lucrative</span>
            <h1>Club des Jeunes Ambassadeurs du Congo</h1>
            <div class="btn-box">
                <a routerLink="/soutenir" class="default-btn">Nous soutenir</a>
                <a routerLink="/contact" class="default-btn">Contactez-nous</a>
            </div>
            <img src="assets/images/banner/border.png" alt="border" class="border-shape">
        </div>
        <div class="banner-course-item">
            <div class="image position-relative">
                <a routerLink="/about" class="d-block">
                    <img src="assets/images/logo1.png" alt="course-image">
                </a>
            </div>
            <div class="content">
                <ul class="info ps-0 list-unstyled">
                    <li class="d-inline-block position-relative">
                        <i class="flaticon-open-book"></i>
                        (CJACO/ASBL)
                    </li>
                    <!-- <li class="d-inline-block position-relative">
                        <i class="flaticon-young-man"></i>
                        123 Students
                    </li> -->
                </ul>
                <h3>
                    <a routerLink="/about">
                       Ensemble nous pouvons
                    </a>
                </h3>
            </div>
        </div>
        <img src="assets/images/home_cjaco.jpg" class="hero-image" alt="hero-image">
    </div>
    <div class="hero-shape1">
        <img src="assets/images/shapes/shape11.png" alt="hero-shape">
    </div>
    <!-- <div class="hero-shape2">
        <img src="assets/images/shapes/shape10.png" alt="hero-shape">
    </div> -->
</div>