<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Activités</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Acceuil</a></li>
                <li class="d-inline-block position-relative">Activités</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog Grid -->
<div class="spinner-border" role="status" *ngIf="isLoading">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="blog-area ptb-100"  *ngIf="!isLoading">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" *ngFor="let item of activityList; index as i"> 
                    <div class="blog-card">
                        <div class="image">
                            <a [routerLink]="['/activity-detail', item.id, item.title]" class="d-block">
                                <img [src]="item.image" alt="{{item.title}}">  
                            </a>
                        </div>
                        <div class="content">
                            <h3>
                                <a [routerLink]="['/activity-detail', item.id, item.title]">
                                    {{ item.title }}
                                </a>
                            </h3>
                            <ul class="meta ps-0 list-unstyled">
                                <li class="d-inline-block position-relative">
                                    <i class='bx bx-user'></i>
                                    Par {{ item.redaction }}
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class='bx bx-calendar'></i>
                                    {{ item.created | date: 'dd/MM/yyyy' }}
                                </li>
                            </ul>
                             
                        </div>
                    </div>  
            </div>   
        </div>
        <app-paginator
        [lastPage]="lastPage"
        (pageChanged)="load($event)"
        ></app-paginator>
    </div>
</div>