<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>APropos de Nous</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Acceuil</a></li>
                <li class="d-inline-block position-relative">About Us</li>
            </ul>
        </div>
    </div>
</div>

<app-historique></app-historique>

<app-team-page></app-team-page>

<app-subscribe></app-subscribe>