
<div class="row">
    <h4>Ajout d'une activité </h4>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="row g-3">
  <div class="col-12">
    <label for="title" class="form-label">Titre</label>
    <input type="text" class="form-control" formControlName="title" id="title" placeholder="Titre de l'activité">
  </div>
  <div class="col-12">
    <label for="image" class="form-label">Image</label>
    <div class="input-group">
      <input formControlName="image" class="form-control" name="image">
      <app-upload (uploadedUrl)="formGroup.patchValue({'image': $event})"></app-upload> 
    </div>
  </div> 
  <div class="col-12">
    <label for="redaction" class="form-label">Redacteur</label>
    <input type="text" class="form-control" formControlName="redaction" id="redaction" placeholder="Jean Paul kazadi">
  </div>

  <div class="col-12"> 
    <ckeditor [editor]="Editor" formControlName="content" data="<p>Entrer le contenu !</p>"></ckeditor>
  </div> 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Soumettre</button>
  </div>
</form>