<!-- Footer -->
<div class="footer-area position-relative pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xl-4 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                    <p>Nous sommes une des formes d’organisation et
                        institutions d’appui au développement. Nous
                        produisons des études, nous élaborons et réalisons
                        des projets dans le sens de nos objectifs pour
                        contribuer au développement de la RDC.</p>
                    <ul class="social-links ps-0 mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a href="https://www.facebook.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://linkedin.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://twitter.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a href="https://www.instagram.com/" target="_blank" class="position-relative d-block rounded-circle text-center">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Pages Importants</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/about" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/events" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Evenements
                            </a>
                        </li>
                        <li>
                            <a routerLink="/activity" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Activités
                            </a>
                        </li>
                        <li>
                            <a routerLink="/team" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Animateurs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Autres Pages</h3>
                    <ul class="footer-links ps-0 mb-0 list-unstyled">
                        <li>
                            <a class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Termes et conditions
                            </a>
                        </li>
                        <li>
                            <a class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Politique de confidentialité
                            </a>
                        </li> 
                        <li>
                            <a class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Help & Support
                            </a>
                        </li>
                        <li>
                            <a class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Get The App
                            </a>
                        </li>
                        <li>
                            <a routerLink="/login" class="d-inline-block position-relative">
                                <i class="flaticon-next"></i>
                                Login
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3 col-sm-6 col-md-6">
                <div class="footer-widget">
                    <h3>Entrer en contact</h3>
                    <ul class="footer-contact-info ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-phone-call'></i>
                            </div>
                            <a href="tel:+243991258685">
                                +243 991 258 685
                            </a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-envelope'></i>
                            </div>
                            <a href="mailto:contact@cjaco.org">contact@cjaco.org</a>
                        </li>
                        <li class="position-relative">
                            <div class="icon text-center rounded-circle">
                                <i class='bx bx-map'></i>
                            </div>
                            No. 290, basankusu, Linguala, Kinshasa/RDC
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shapes/footer.gif" class="footer-shape1" alt="footer-shape1">
    <img src="assets/images/shapes/footer-shape.png" class="footer-shape2" alt="footer-shape2">
</div>

<!-- Copyright -->
<div class="copyright-area text-center">
    <div class="container">
        <p>©{{ year }}  <a href="https://eventdrc.tech" target="_blank">Eventdrc Technology</a></p>
    </div>
</div>
 