<!-- Page Banner -->
<div
    class="page-banner-area ptb-100"
    style="background-image: url(assets/images/shapes/page-banner-bg.jpg);"
>
    <div class="container">
        <div class="page-banner-content text-center">
            <h1>Administration</h1>
            <ul class="ps-0 mb-0 list-unstyled">
                <li class="d-inline-block position-relative"><a routerLink="/">Acceuil</a></li>
                <li class="d-inline-block position-relative">Admin</li>
            </ul>
        </div>
    </div>
</div>

<!-- Dashboard -->
<div class="dashboard-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="dashboard-sidebar">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin">
                                <i class="bx bx-home"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-users">
                                <i class="bx bx-user"></i>
                                Utilisateurs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-contact">
                                <i class="bx bx-message-rounded-detail"></i>
                                Contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-events">
                                <i class="bx bx-calendar-check"></i>
                                Evenements
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-activity">
                                <i class='bx bx-calendar-check'></i>
                                Activités
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-animateur">
                                <i class="bx bx-book"></i>
                                Animateurs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-newsletter">
                                <i class="bx bxs-shopping-bag"></i>
                                NewsLetters
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-partners">
                                <i class="bx bx-star"></i>
                                Partenaires
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-soutenir">
                                <i class='bx bx-donate-heart'></i>
                                Nous soutenir
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/admin-testimonials">
                                <i class="bx bxs-user-pin"></i>
                                Testimonials
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-12">
                <ng-container *ngIf="(router.url === '/admin'); else elseBlock">
                    <div class="dashboard-stats">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class="bx bx-bullseye"></i> 
                                    </div>
                                    <!-- <h3><span id="visits"></span></h3>  -->
                                    <h3>80</h3>
                                    <span class="d-block">Total Visites</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-message-detail'></i>
                                    </div>
                                    <h3>{{totalContact}}</h3>
                                    <span class="d-block">Total Contacts</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-user-check'></i>
                                    </div>
                                    <h3>{{totalPartenaires}}</h3>
                                    <span class="d-block">Total Partenaires</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-user-voice'></i>
                                    </div>
                                    <h3>{{totalAnimateurs}}</h3>
                                    <span class="d-block">Total Animateurs</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-user'></i>
                                    </div>
                                    <h3>{{totalUtilisateurs}}</h3>
                                    <span class="d-block">Total Utilisateurs</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-envelope'></i>
                                    </div>
                                    <h3>{{totalNewsLetters}}</h3>
                                    <span class="d-block">Total NewsLetters</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-walk'></i>
                                    </div>
                                    <h3>{{totalEvenements}}</h3>
                                    <span class="d-walk">Total Evenements</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-walk'></i>
                                    </div>
                                    <h3>{{totalActivite}}</h3>
                                    <span class="d-block">Total Activités</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="stats-box">
                                    <div class="icon ms-auto me-auto rounded-circle position-relative">
                                        <i class='bx bx-donate-heart'></i>
                                    </div>
                                    <h3>{{totalSoutiens}}</h3>
                                    <span class="d-block">Total Soutiens</span>
                                </div>
                            </div> 
                        </div>
                    </div>
                   
                </ng-container>
                <ng-template #elseBlock>
                    <router-outlet></router-outlet>
                </ng-template>
            </div>
        </div>
    </div>
</div>